extends ../layout

block content
  section.contact-1
  .container
    .row.contact-details
      .col-sm-8.text-center.text-md-left.mb-4
        h3 Informazioni profilo
        form.contact-form.mt-4(action='/account/profile', method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .row
            .col-md-12
              input.form-control-custom.mb-4(type='email', name='email', id='email', value=user.email)
            br
          .row
            .col-md-12
              input.form-control-custom.mb-4(type='text', name='name', id='name', value=user.profile.name)
            br
          .row
            .col-md-12
              label.radio.col-sm-3
                input(type='radio', checked=user.profile.gender=='male', name='gender', value='male', data-toggle='radio')
                span Male
              label.radio.col-sm-3
                input(type='radio', checked=user.profile.gender=='female', name='gender', value='female', data-toggle='radio')
                span Female
              label.radio.col-sm-3
                input(type='radio', checked=user.profile.gender=='other', name='gender', value='other', data-toggle='radio')
                span Other
            br
          .row
            .col-md-12
              input.form-control-custom.mb-4(type='text', name='location', id='location', value=user.profile.location,placeholder='indirizzo')
            br
          .row
            .col-md-12
              input.form-control-custom.mb-4(type='text', name='website', id='website', value=user.profile.website,placeholder='sito web')
            br
          .row
            .col-md-12
              button.btn.btn-primary.btn-lg.mb-4(type='submit') Aggiorna Profilo
  section.contact-1
  .container
    .row.contact-details
      .col-sm-8.text-center.text-md-left.mb-4
        h3 Cambia Password
        form.contact-form.mt-4(action='/account/password', method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .row
            .col-md-12
              input.form-control-custom.mb-4(type='password', name='password', id='password', placeholder='nuova password')
            br
          .row
            .col-md-12
              input.form-control-custom.mb-4(type='password', name='confirmPassword', id='confirmPassword', placeholder='conferma nuova password')
            br
          .row
            .col-md-12
              button.btn.btn-primary.btn-lg.mb-4(type='submit') Aggiorna Password       
  section.contact-1
  .container
    .row.contact-details
      .col-sm-8.text-center.text-md-left.mb-4
        h3 Cancella Account
        form.contact-form.mt-4(action='/account/delete', method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .row
            .col-md-12
              button.btn.btn-danger.btn-lg.mb-4(type='submit') Cancella account
  section.contact-1
  .container
    .row.contact-details
      .col-sm-8.text-center.text-md-left.mb-4
        h3 Collega i tuoi socials
        .row
          .col-md-12
            if user.instagram
              p: a.text-danger(href='/account/unlink/instagram') Unlinka il tuo account Instagram
            else
              p: a(href='/auth/instagram') Collega  il tuo account Instagram 
            if user.google
              p: a.text-danger(href='/account/unlink/google') Scollega il tuo account Google
            else
              p: a(href='/auth/google') Collega il tuo account Google
            if user.facebook
              p: a.text-danger(href='/account/unlink/facebook') Scollega il tuo account Facebook
            else
              p: a(href='/auth/facebook') Collega il tuo account Facebook
            if user.twitter
              p: a.text-danger(href='/account/unlink/twitter') Scollega il tuo account Twitter
            else
              p: a(href='/auth/twitter') Collega il tuo account Twitter
            if user.github
              p: a.text-danger(href='/account/unlink/github') Scollega il tuo account GitHub
            else
              p: a(href='/auth/github') Collega il tuo account GitHub
            if user.linkedin
              p: a.text-danger(href='/account/unlink/linkedin') Scollega il tuo account LinkedIn
            else
              p: a(href='/auth/linkedin') Collega il tuo account LinkedIn